.cooperation{
    width: 100%;
    // background: linear-gradient(257.56deg, #F0B3A5 22.53%, #F5A693 69.82%),
    //  linear-gradient(257.56deg, #F5BD89 22.53%, #FFBD80 69.82%);
     &__container{
         padding-top: 9.8rem;
     }
     &__row{
         display: flex;
         gap: 5.5rem;
     }
     &__img{
        max-width: 37.2rem;
        height: 34.7rem;
        position: relative;
        // border:1px solid red;
        img{
            max-width: auto;
            height: 100%;
          
        }

     }
     &__body{
        // border:1px solid red;
        max-width: 64rem;
        
     }
     &__title{
         margin-bottom: 3.2rem;
         font-family: 'Exo 2';
         font-style: normal;
         font-weight: 800;
         font-size: 2.4rem;
         line-height: 2.6rem;
     }
     &__item{
        margin-bottom: 1rem;
        font-family: 'Exo 2';
        font-style: normal;
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 1.9rem;
        color: #FFFFFF;
        span{
            font-weight: 800;
        }
     }
     &__list{
         list-style-type: disc;
     }
     &__container-big-word{
         max-width: 69rem;
     }
     &__big-word{
         position: relative;
         z-index: 1;
         margin-top: -10rem;
     }


     @media screen and (max-width:1024px) {
         &__row{
             flex-direction: column-reverse;
             gap: 8.2rem;
         }
         &__body{
             margin: auto;
         }
         &__title{
             text-align: center;
         }
         &__item{
            margin-bottom: 1.6rem;
            font-size: 1.4rem;
            line-height: 1.8rem;
         }
         &__img{
             margin: auto;
         }
         &__container-big-word{
             max-width:unset;
            
            
         }
         &__big-word{
             margin-top: -5rem;
             text-align: center;
         }
     }

     @media screen and (max-width:668px) {
        &__container{
            padding-top: 5.4rem;
        }
         &__row{
             flex-direction: column-reverse;
             gap: 4.8rem;
         }
         &__body{
             margin: auto;
         }
         &__title{
             text-align: center;
         }
         &__item{
            margin-bottom: 2.4rem;
            font-size: 1.4rem;
            line-height: 1.8rem;
         }
         &__img{
            width: 26.4rem;
            height: 19.8rem;
         }
     }
}