.expert{
    width: 100%;
    // background: linear-gradient(257.56deg, #FFA16E 22.53%, #FFBD80 69.82%),
    //  linear-gradient(251.72deg, #F8DD97 15.55%, #F3CA7A 78.16%),
    //  linear-gradient(256.17deg, #4BD6C5 33.11%, #79DFCD 91.12%), 
    //  linear-gradient(257.56deg, #CD96EE 22.53%, #C9B0F2 69.82%);
     &__container{
         padding-top: 19.6rem;
     }
     &__row{
         display: flex;
         gap: 10.6rem;
         align-items: flex-end;
         justify-content: center;
     }
     &__body{
         max-width: 64rem;
        //  border:1px solid white;
     }
     &__texts{
        position: relative;
        margin-top: -30rem;
     }
     &__text{
        font-family: 'Exo 2';
        font-style: normal;
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 2.2rem;
        color: #FFFFFF;
        &-important{
            font-weight: 800;
            position: relative;
            display: inline-block;
            color: #FFFFFF;
            &::after{
                position: absolute;
                content: '';
                display: block;
                width: 3.35rem;
                height: 1px;
                background: #FFFFFF;
                bottom: 0;
                left: 0;
                transition: width 0.3s linear;
            }
            &:hover {
                &::after{
                width: 100%;
              }
            }
            
            
            
        }
        
     }
     &__text:first-child{
         margin-bottom: 2.4rem;
     }
     &__img{
        max-width: 17.4rem;
        height: 28.0rem;
        position: relative;

        img{
            max-width: auto;
            height: 100%;
            position: absolute;
            right: 0;
         
        }
     }
     &__big-word-mobile{
         display: none;
     }


     @media screen and (max-width:1024px) {
         &__row{
             display: block;
         }
         &__body{
            max-width: 52.1rem;
            // border:1px solid white;
            margin: auto;
            margin-bottom: 8.2rem;
            

        }
        &__texts{
            
            margin-top: 0;
         }
        &__text{
            
            font-size: 1.4rem;
            line-height: 1.8rem;
            &-important{
                font-weight: 800;
                position: relative;
                display: inline-block;
                
                
            }
            
         }
         &__text:first-child{
             margin-bottom: 0;
         }
         &__big-word{
             display: none;
             &-mobile{
                 display: block;
             }
         }

         &__img{
            width: 21.8rem;
            height: 35.0rem;
            
             margin:0 auto 10.1rem;
             
         }
     }
     @media screen and (max-width:667px) {
         min-height: 664px;
        &__container{
            padding-top: 5.3rem;
        }
         &__row{
             display: block;
         }
         &__body{
            max-width: 52.1rem;
            // border:1px solid white;
            margin-bottom: 4.9rem;
        }
        &__text{
            
            margin-bottom: 4.9rem;
            
         }
        
         &__img{
            width: 22.501rem;
            height: 24.413rem;
           
            
         }
     }
     @media screen and (max-width:320px) {
       
       min-height: 66.4rem;
       
         &__body{
            max-width: 52.1rem;
            // border:1px solid white;
            margin-bottom: 4.9rem;
        }
        &__text{
            
            margin-bottom: 4.9rem;
            
         }
        
         &__img{
            width: 27.5rem;
            height: 29.8rem;
            
         }
     }
}