.modal-form{
    max-width: 48.9rem;
    height: 100vh;
    overflow-y: auto;
    padding-top: 2.4rem;
   
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.15);
    z-index: 10000!important;
    position: fixed;
    right: -350vw;
    top: 0;
    transition: all 500ms ease-out;
    &::-webkit-scrollbar {
        width: 1em;
      }
       
      &::-webkit-scrollbar-track {
      background: #fff;
      }
       
      &::-webkit-scrollbar-thumb {
        width: .2rem;
        height: 5rem;
        background: #EBEEF0;
        border-radius: 1.0rem;
      }
      
    
    &__close{
     
        margin-left: 2.4rem;
     
        margin-bottom: 1.6rem;

    }
    &__title{
        font-family: 'Exo 2';
        font-style: normal;
        font-weight: 900;
        font-size: 3.2rem;
        line-height: 3.2rem;
        text-transform: uppercase;
        color: #D6DDE0;
        margin-bottom: 2.4rem;
        text-align: center;
    }
    &__body{
       
    
        height:100vh;
        // overflow-y: auto!important;
     
        padding: 0 2.4rem;
        // border: 1px solid red;
        
       

    }
    &__form{
        max-width: 71.4rem;
        height: 60rem;

    }
    &__item{
        max-width: 63.7rem;
        margin-bottom: 3rem;
        position: relative;
    }
    &__label{
        display: inline-block;
        font-family: 'Exo 2';
        font-style: normal;
        font-weight: 900;
        font-size: 1.6rem;
        line-height: 1.6rem;
        text-transform: uppercase;
       
        color: #D6DDE0;
        margin-bottom: 1.6rem;
        transition: color 300ms ease-in-out;
    }
    &__input{
        width: 100%;
       
       input,textarea{
           transition: all 300ms ease-in-out;
           width: 100%;
           outline: none;
           border: none;
           border-bottom:0.1rem solid #D6DDE0;
           font-family: 'Exo 2';
           font-style: normal;
           font-weight: 400;
           font-size: 1.4rem;
           line-height: 1.6rem;
           color: #777B7C;
           padding-bottom: .8rem;
       }
       textarea{
        -webkit-appearance: none;
        resize: none;
        overflow: hidden;
       
        
         
       }
      
    }
    &__error{
        position: absolute;
        top: 0.5rem;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        height:2.1rem;
      box-shadow: 0 0   0.3rem red;
        background: #fff;
        padding: 0 2rem;
        font-family: 'Exo 2';
        font-style: normal;
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 1.6rem;
        color: red;
        display: none;
        &::after{
            content: '';
            display: block;
            width: 2rem;
            height: 1rem;
            box-shadow: 0 0   0.3rem red;
            position: absolute;
            bottom: 0;
            top: 1rem;
            transform: rotate(-45deg);
            left:45%;
            z-index: -1;
            

        }
    }
    &__info{
        display: flex;
      
        align-items: center;
        margin-bottom: 4.7rem;
        &-icon{
            width: 4.6rem;
            height: 3.4rem;
           
            svg{
                width: 100%;
                height: auto;
            }
        }
        &-text{
            font-family: 'Exo 2';
            font-style: normal;
            font-weight: 500;
            font-size: 1.2rem;
            line-height: 1.4rem;
            color: #777B7C;
            position: relative;
            margin-left: -1.5rem;
            
        }
    }
    &__submit{
        width: 18.6rem;
        height: 4.8rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Exo 2';
        font-style: normal;
        font-weight: 700;
        font-size: 1.6rem;
        line-height: 1.9rem;
        color: #FFFFFF;
        background: #8ADDEB;
        border-radius: .5rem;
        cursor: pointer;
        border: none;
        transition: all 300ms ease;
        &:hover{
            background: #fff;
            color: #8ADDEB;
            border: 0.2rem solid  #8ADDEB;
        }

    }

}




::placeholder,input{
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.6rem;
    margin-bottom: 0.8rem;
    
    
    color: #777B7C;
}

.open-modal{
    right: 0%;
}

.icon-modal{
width: 2.4rem;
height: 2.4rem;
position: relative!important;
transition: all 300ms ease!important;
cursor: pointer;
border: 1px solid red;


&:hover{
    transform: rotate(45deg);
    .icon-modal__row--small{
        &-top{
            transform: rotate(4deg);
            left: 0.9rem;
            top: -.1rem;
        }
        &-bot{
            transform: rotate(88deg);
            top: .5rem;
            right: -.4rem;
        }
    }
}
&__row{
    display: inline-block;
    width: 2.569rem;
    height: .514rem;
    background: #D6DDE0;
    border-radius: 0.4rem;
    position: absolute;
   
    &--small{
        width: 1.4rem;
      &-top{
        top: .6rem;
        left: .1rem;
        transform: rotate(45deg);
        transition: all 600ms ease;
      }
      &-bot{
        top: 1.4rem;
        right: 0;
        transform: rotate(45deg);
        transition: all 600ms ease;
      }
        
    }
    &--long{
        transform: rotate(-45deg);
        top: 1rem;
        left:-.2rem;

       
       
    }
}
}
#comment_div{
    border-bottom: 2px solid #777B7C;
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.6rem;
    color: #777B7C;
    white-space: pre-wrap;
    word-wrap: break-word;
    position: absolute;
    left: -2000%;
    max-width: 40.3rem;

}
.label-active{
    color: #777B7C;
}
.input-active{
    border-bottom:0.2rem solid #777B7C!important;
}
@media screen and (max-width:1024px) {
    .modal-form{
        max-width: 63.7rem;
    }
}
@media screen and (max-width:667px) {
    .modal-form{
        max-width: 93%;
        &__close{
            margin-bottom: 2.5rem;
            margin-left: 1.6rem;
        }
        &__title{
            font-size: 2.4rem;
            line-height: 2.4rem;
            margin-bottom: 4rem;
        }
        &__body{
            padding: 0 2rem;
        }
    }
    ::placeholder,input,textarea,#comment_div,.modal-form__error{
       
        font-size: 1.2rem;
       
     
    }
    
}


.close{
    display: inline-block;
    position: relative;
    width: 2.2rem;
    height: 2.2rem;

    transition: linear transform 0.35s;
    &:hover{
     transform: rotate(45deg);
     .short_b_cl.short_top{
        transform: rotate(0);
        left: 6px;
        top: -27px;
        background: #777B7C;
     }
     .long_b_cl{
        background: #777B7C;
     }
     .short_b_cl.short_bot{
        transform: rotate(90deg);
        bottom: 2px;
        right: -29px;
        background: #777B7C;
    }
     }
    &-left:hover {
        .short_b_cl.short_top{
            transform: rotate(90deg);
            left: -24px;
            top: 3px;
            
         }
         
         .short_b_cl.short_bot{
            transform: rotate(0);
            bottom: -27px;
            right: -2px;
            
        }
    }
    &-left{
        .short_bot{
            bottom: -16px;
            right: -18px;
        }
        
        .short_b_cl.short_top{
            top: -15px;
            left: -15px;
        }
    }
}
.short_b_cl{
    width: 20px;
    height: 6px;
    top: -5%;
    left: -5%;
    right: -5%;
    bottom: -5%;
    margin: auto;
    position: absolute;
    background: #D6DDE0;
    border-radius: 4px;
    z-index: 1;
    transition: linear all 0.15s;
    transform: rotate(45deg);

}
.short_b_cl.short_top{
    top: -15px;
    left: -15px;
}
.short_b_cl.short_bot{
    bottom: -16px;
    right: -18px;
}
.long_b_cl{
    width: 40px;
    position: absolute;
    top: -5%;
    left: -5%;
    right: -5%;
    bottom: -5%;
    margin: auto;
    left: 0;
    height: 6px;
    background: #D6DDE0;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    transition: linear all 0.15s;
    transform: rotate(-45deg);
}


.hide{
   z-index:-1!important ;
}

